# Composer files
/vendor/
composer.lock

# Docker files
docker-compose.yml
.docker/Dockerfile

# PHPUnit report
/tests/report/
clover.xml
phpunit.xml
/.phpunit.cache/
.phpunit.result.cache

# IDE & System
.idea/
.DS_Store
