version: '3.3'
services:

  #PHP Service
  app:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile
    container_name: app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /usr/src/php-ansible
    volumes:
      - ./:/usr/src/php-ansible
    networks:
      - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge

